@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
body {
  line-height: inherit;
  margin: 0;
  background-color: #0c4b54;
}
.navbg {
  border: 2px solid #0c4b54;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
}
.navbg:hover {
  border: 2px solid #247459;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

@media (min-width: 1025px) {
  .headerNih {
    margin-top: 200px;
  }
  .aight1 {
    font-family: "Noto Serif", serif;
    line-height: 4.5rem;
    color: white;
  }
  .bento-grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .pilihanBahasa {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .itemLeft {
    left: max(calc(100px * 8), 100%);
    animation-name: scrollLeft;
  }

  .itemRight {
    right: max(calc(100px * 8), calc(100%));
    animation-name: scrollRight;
  }
}
@media (max-width: 1025px) {
  .headerNih {
    margin-top: 100px;
  }
  .aight1 {
    font-family: "Noto Serif", serif;
    line-height: 3rem;
    color: white;
  }
  .bento-grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .pilihanBahasa {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .itemLeft {
    left: max(calc(150px * 8), 100%);
    animation-name: scrollLeft;
  }

  .itemRight {
    right: max(calc(150px * 8), calc(100%));
    animation-name: scrollRight;
  }
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.plus {
  background-color: #e8f549;
  padding: 5px;
  border-radius: 500px;
}
.bahasa {
  color: white;
  border: 1px solid #f5f7f82d;
  border-radius: 10px;
}
.navTops {
  border-bottom: 2px solid #f5f7f82d;
  background-color: #0c4b54;
}
.bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.bento-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bento-grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.bento-grid-item:hover .overlay {
  opacity: 1;
}

.bento-grid-item .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
}
.bg-hommy {
  background-color: #e8f549;
}
.bg-sechomy {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}
.paraf {
  color: #e8f549 !important;
  font-family: "Noto Serif", serif;
  font-style: italic;
}
.paraf2 {
  color: #0c4b54 !important;
  font-family: "Noto Serif", serif;
  font-style: italic;
}
.wrapper-left {
  margin-top: 2rem;
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}
.wrapper-right {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
  to {
    left: -100px;
  }
}

@keyframes scrollRight {
  to {
    right: -100px;
  }
}

.itemLeft,
.itemRight {
  width: 150px;
  height: 72px;
  background-color: #e8f549;
  border-radius: 500px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.bg-prim {
  display: flex;
  align-items: center;
  justify-content: center;
}
.semuaBahasa {
  max-width: 9rem;
  border-radius: 9999px;
  background-color: #e8f549; /* Adjust as needed */
}

.semuaBahasa p {
  font-weight: 500;
  font-size: 1.125rem; /* lg:text-lg */
}
