---
import Layout from '../layouts/Layout.astro';
import Brand from "../components/Brand.astro";
import WhyUs from '../components/WhyUs.astro';
import PopularCourse from '../components/PopularCourse.astro';
import BannerImage from '../components/BannerImage.astro';
---

<Layout title="Pusaka Bahasa">
    <section class="navbarOriginal">
        <div class="py-8 px-4 mx-auto max-w-screen-xl positionAtas">
            <h1 class="mb-4 tracking-wide text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-serif">
                Menjaga <span class="text-second">Bahasa</span>, Menguatkan Identitas Nasional
            </h1>              
            <p class="mb-8 text-sm font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                <span class="font-bo">PusakaBahasa</span> adalah platform inovatif yang bertujuan untuk melestarikan dan mempromosikan bahasa daerah Indonesia melalui pembelajaran interaktif dan menyenangkan. Kami menawarkan berbagai kursus dan materi yang menyoroti kekayaan linguistik dan budaya Indonesia.
            </p>
            <div class="lg:flex lg:flex-col grid grid-cols-2 gap-4 justify-left">
                <a href="#" class="flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-second hover:bg-second whitespace-nowrap">
                    Ayo Mulai Belajar !
                </a>
            </div>                                               
        </div>
        <Brand />
    </section>
    <WhyUs />
    <PopularCourse />
    <BannerImage />
