<section class="mt-10">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
        <h1 class="mb-4 tracking-wide text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white font-serif p-1" >
            Kenapa harus belajar dengan <span class="text-second">PusakaBahasa</span> ?
        </h1>      
        <div class="w-full">
            <div class="gap-2 text-left mb-2 mt-10 lg:grid lg:grid-cols-2">
                <div class="bg-white w-full mb-2 h-full px-8 py-8 rounded-xl">
                    <img class="w-20 h-auto" src="/whyUsArt1.svg">
                    <p class="font-bold text-xl mt-3">Pelajaran Interaktif yang Menarik</p>
                    <p class="font-medium text-md text-gray-400 mt-3">Di PusakaBahasa, Anda akan belajar melalui metode yang interaktif dan menyenangkan. Dengan konten yang diatur sedemikian rupa, Anda akan lebih mudah memahami dan menguasai bahasa daerah secara efektif.</p>
                </div>    
                <div class="bg-white w-full h-full px-8 py-8 rounded-xl">
                    <img class="w-20 h-auto" src="/whyUsArt2.svg">
                    <p class="font-bold text-xl mt-3">Akses ke Materi yang Luas dan Mendalam</p>
                    <p class="font-medium text-md text-gray-400 mt-3">PusakaBahasa menyediakan berbagai materi pembelajaran yang mencakup banyak aspek budaya dan bahasa dari berbagai daerah. Ini memungkinkan Anda untuk belajar tidak hanya bahasa tetapi juga budaya yang kaya di baliknya.</p>
                </div>    
            </div>                                                       
            <div class="lg:grid lg:grid-cols-3 gap-2 text-left">
                <div class="bg-white w-full mb-2 h-full px-8 py-8 rounded-xl">
                    <img class="w-20 h-auto" src="/whyUsArt3.svg">
                    <p class="font-bold text-xl mt-3">Belajar Sesuai Ritme Anda</p>
                    <p class="font-medium text-md text-gray-400 mt-3">PusakaBahasa menawarkan fleksibilitas waktu belajar, memungkinkan Anda untuk belajar kapan saja dan di mana saja. Dengan akses 24/7, Anda bisa belajar sesuai dengan ritme dan jadwal pribadi Anda.</p>
                </div>    
                <div class="bg-white w-full mb-2 h-full px-8 py-8 rounded-xl">
                    <img class="w-20 h-auto" src="/whyUsArt4.svg">
                    <p class="font-bold text-xl mt-3">Instruktur Berpengalaman</p>
                    <p class="font-medium text-md text-gray-400 mt-3">Anda akan dibimbing oleh instruktur yang berpengalaman dan ahli dalam bahasa daerah. Mereka tidak hanya mengajarkan bahasa tetapi juga berbagi wawasan budaya yang membuat proses belajar menjadi lebih bermakna.</p>
                </div>    
                <div class="bg-white w-full h-full px-8 py-8 rounded-xl">
                    <img class="w-20 h-auto" src="/whyUsArt5.svg">
                    <p class="font-bold text-xl mt-3">Komunitas Belajar yang Mendukung</p>
                    <p class="font-medium text-md text-gray-400 mt-3">Belajar bersama PusakaBahasa berarti bergabung dengan komunitas pembelajar yang memiliki minat yang sama. Diskusi kelompok dan forum komunitas memungkinkan Anda untuk berbagi pengalaman, bertanya, dan belajar dari orang lain.</p> 
                </div>    
            </div>     
        </div>                                                  
    </div>
</section>